<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <mat-drawer-container class="flex-auto sm:h-full">
        <!-- Боковая панель -->
        <mat-drawer
                class="sm:w-96 dark:bg-gray-900"
                [autoFocus]="false"
                [mode]="drawerMode"
                [opened]="drawerOpened"
                #drawer>
            <!-- Заголовок -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Название -->
                <div class="text-4xl font-extrabold tracking-tight leading-none">Настройки</div>
                <!-- Кнопка закрытия -->
                <div class="lg:hidden">
                    <button
                            mat-icon-button
                            (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>
            <!-- Ссылки панели -->
            <div class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                    <div
                            class="flex px-8 py-5 cursor-pointer"
                            [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}"
                            (click)="goToPanel(panel.id)">
                        <mat-icon
                                [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}"
                                [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <div
                                    class="font-medium leading-6"
                                    [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                {{panel.title}}
                            </div>
                            <div class="mt-0.5 text-secondary">
                                {{panel.description}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>
        <!-- Содержимое боковой панели -->
        <mat-drawer-content class="flex flex-col">
            <!-- Основной контент -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
                <!-- Заголовок панели -->
                <div class="flex items-center">

                    <!-- Переключатель боковой панели -->
                    <button
                            class="lg:hidden -ml-2"
                            mat-icon-button
                            (click)="drawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    </button>

                    <!-- Название панели -->
                    <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        {{getPanelInfo(selectedPanel).title}}
                    </div>
                </div>
                <!-- Загрузка панели настроек -->
                <div class="mt-8">
                    <ng-container [ngSwitch]="selectedPanel">
                        <!-- Аккаунт -->
                        <ng-container *ngSwitchCase="'account'">
                            <div class="w-full max-w-3xl">
                                <!-- Форма -->
                                <form [formGroup]="accountForm">
                                    <!-- Раздел -->
                                    <div class="w-full">
                                        <div class="text-xl">Профиль</div>
                                    </div>
                                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                                        <!-- Имя -->
                                        <div class="sm:col-span-4">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Имя</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:user'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'name'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Имя пользователя -->
                                        <div class="sm:col-span-4">
                                            <mat-form-field
                                                    class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                                                <mat-label>Имя пользователя</mat-label>
                                                <div
                                                        class="text-secondary"
                                                        matPrefix>
                                                    brainyPath/
                                                </div>
                                                <input
                                                        [formControlName]="'username'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Должность -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Должность</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:briefcase'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'title'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Компания -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Компания</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:office-building'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'company'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- О себе -->
                                        <div class="sm:col-span-4">
                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                                <mat-label>О себе</mat-label>
                                                <textarea
                                                        matInput
                                                        [formControlName]="'about'"
                                                        cdkTextareaAutosize
                                                        [cdkAutosizeMinRows]="5"></textarea>
                                            </mat-form-field>
                                            <div class="mt-1 text-md text-hint">Краткое описание для вашего профиля.</div>
                                        </div>
                                    </div>
                                    <!-- Разделитель -->
                                    <div class="my-10 border-t"></div>
                                    <!-- Раздел -->
                                    <div class="w-full">
                                        <div class="text-xl">Личная информация</div>
                                        <div class="text-secondary">Контактные данные для связи с вами. Эти данные будут
                                            сохранены в приватности.
                                        </div>
                                    </div>
                                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                                        <!-- Электронная почта -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Email</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:mail'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'email'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Телефон -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Телефон</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:phone'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'phone'"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Страна -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Страна</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:location-marker'"
                                                        matPrefix></mat-icon>
                                                <mat-select [formControlName]="'country'">
                                                    <mat-option [value]="'kz'">Казахстан</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <!-- Язык -->
                                        <div class="sm:col-span-2">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Язык</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:globe-alt'"
                                                        matPrefix></mat-icon>
                                                <mat-select [formControlName]="'language'">
                                                    <mat-option [value]="'english'">Английский</mat-option>
                                                    <mat-option [value]="'russian'">Русский</mat-option>
                                                    <mat-option [value]="'kazakh'">Казахский</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Кнопки действий -->
                                    <div class="flex items-center mt-10 space-x-2">
                                        <button
                                                class="px-6"
                                                mat-raised-button
                                                color="primary"
                                                [disabled]="accountForm.invalid">
                                            Сохранить
                                        </button>
                                    </div>
                                </form>

                            </div>

                        </ng-container>
                        <!-- Security -->
                        <ng-container *ngSwitchCase="'security'">
                            <div class="w-full max-w-3xl">

                                <!-- Form -->
                                <form [formGroup]="securityForm">

                                    <!-- Раздел -->
                                    <div class="w-full">
                                        <div class="text-xl">Изменить пароль</div>
                                    </div>
                                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                                        <!-- Текущий пароль -->
                                        <div class="sm:col-span-4">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Текущий пароль</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:key'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'currentPassword'"
                                                        type="password"
                                                        matInput>
                                            </mat-form-field>
                                        </div>
                                        <!-- Новый пароль -->
                                        <div class="sm:col-span-4">
                                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                                <mat-label>Новый пароль</mat-label>
                                                <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'heroicons_solid:key'"
                                                        matPrefix></mat-icon>
                                                <input
                                                        [formControlName]="'newPassword'"
                                                        type="password"
                                                        matInput>
                                            </mat-form-field>
                                            <div class="mt-1 text-md text-hint">Минимум 8 символов. Пароль должен включать цифры, буквы и специальные символы.</div>
                                        </div>
                                    </div>
                                    <!-- Разделитель -->
                                    <div class="my-10 border-t"></div>
                                    <!-- Действия -->
                                    <div class="flex items-center justify-end">
                                        <button
                                                class="px-6"
                                                mat-raised-button
                                                color="primary"
                                                [disabled]="securityForm.invalid">
                                            Сохранить
                                        </button>
                                        <button
                                                class="px-6"
                                                mat-stroked-button
                                                color="primary">
                                            Отмена
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
