<div class="flex w-full h-full">
    <div class="flex flex-col flex-auto min-w-0">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Title -->
                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Page heading
                    </h2>
                </div>
            </div>
            <!-- Actions -->
            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <button mat-stroked-button>
                    <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                    Edit
                </button>
                <button
                        class="ml-3"
                        mat-flat-button
                        [color]="'accent'">
                    <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:link'"></mat-icon>
                    View
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex-auto p-6 sm:p-10">
            <div class="w-full max-w-3xl">
                <div class="max-w-none mx-auto prose prose-sm">
                    <img
                            class="w-20"
                            src="./assets/images/logo/logo.png"
                            alt="Logo image">
                    <h1>Landing Module</h1>
                    <p>
                        This can be the landing or the welcome page of your application. If you have an SSR (Server Side Rendering) setup, or if you don't need to have Search engine
                        visibility and optimizations, you can even use this page as your primary landing page.
                    </p>
                    <p>
                        This is a separate "module", it has its own directory and routing setup and also it's completely separated from the actual application. This is also a simple example of
                        a multiple applications setup that uses the same codebase. You can have different entry points and essentially have different applications within the same codebase.
                    </p>
                </div>
                <div>
                    <a
                            class="mt-8"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="'/sign-in'">
                        <span>Launch the App</span>
                        <mat-icon
                                class="ml-2 icon-size-5"
                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


